<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Tabela de Usuarios
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <a [routerLink]="'/adicionar-lista-usuarios'">
              <button type="button" class="btn btn-block btn-outline-success active" aria-pressed="true">Adicionar
              </button>
            </a>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Créditos</th>
              <th>Grupo</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.credits}}</td>
              <td>
                <span >{{user.group.description}}</span>
              </td>
              <td>
                <span>{{user.status.description}}</span>
              </td>
              <td>
                <a [routerLink]="'/editar-lista-usuarios/' + user.id">
                  <button type="button" class="btn btn-warning">
                    <i class="icon-note icons font-1x0  " style="color: white;"></i>
                  </button>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><button [disabled]="page.num === 0 " class="page-link" (click)="pageUsers(page.num-1)" >Prev</button></li>

            <li class="page-item"><button [disabled]="page.num === (page.total - 1)" class="page-link" (click)="pageUsers(page.num +1)">Next</button></li>
          </ul>
          <p> Página {{page.num + 1}} de {{page.total}}</p>
        </div>
         </div>
      </div>
    </div>
</div>
